.code-wrap{
  margin-top: 20px;
  .hljs{
    padding: 0;
  }
  .code-title{
    text-align: center;
    background: #f8f8f8;
    padding: 8px 0;
    span{
      cursor: pointer;
    }
    .turn-tri{
      display: inline-block;
      transform:rotate(0);
      transition: all linear 0.3s;
    }
  }
  
  .code-show{
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
  }

  &.active{
    .hljs{
      padding: 10px;
    }
    .code-show{
      height: auto;
    }
    .turn-tri{
      transform:rotate(90deg);
    }
  }
}
