.side-list{
  .side-item {
    height: 35px;
    line-height: 35px;
    padding: 0 20px 0 40px;
    box-sizing: border-box;
    position: relative;
    a{
      text-decoration: none;
      font-size: 14px;
      color: #555;
    }
    &:hover {
      a{
        color: royalblue;
      }
    }
    &.active-item{
      background : #e4f7fe;
      a{
        color: royalblue;
      }
      &::before {
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        background: royalblue;
        position: absolute;
        left: 0px;
        top: 0;
      }
    }
  }
}